Repository Nugudi/websites, pull requests merged in 2025-08, with the labels that each got.

#40 [NUGUDI-34] 공용 Input 컴포넌트 구현
  apps/web/app/components/input-container.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  packages/react/components/button/src/Button.tsx
  packages/react/components/input/package.json
  packages/react/components/input/src/Input.tsx
  packages/react/components/input/src/index.ts
  packages/react/components/input/src/style.css.ts
  packages/react/components/input/src/types.ts
  packages/react/components/input/src/useInput.ts
  packages/react/components/input/tsconfig.json
  packages/react/components/input/vite.config.mts
  packages/ui/package.json
  packages/ui/src/ReactComponents/Button.stories.tsx
  packages/ui/src/ReactComponents/Input.stories.tsx
  pnpm-lock.yaml
Labels: apps/web, packages/ui, packages/react

#42 [NUGUDI-36] icon packages/assets으로 dir 이동
  packages/assets/icons/README.md
  packages/assets/icons/package.json
  packages/assets/icons/src/icons.ts
  packages/assets/icons/src/index.ts
  packages/assets/icons/src/svgr.d.ts
  packages/assets/icons/src/types/icon.ts
  packages/assets/icons/svg/apple.svg
  packages/assets/icons/svg/arrow-left.svg
  packages/assets/icons/svg/arrow-up-circle.svg
  packages/assets/icons/svg/bus.svg
  packages/assets/icons/svg/calendar.svg
  packages/assets/icons/svg/camera-line.svg
  packages/assets/icons/svg/camera.svg
  packages/assets/icons/svg/comment.svg
  packages/assets/icons/svg/etc.svg
  packages/assets/icons/svg/exit.svg
  packages/assets/icons/svg/fill-heart.svg
  packages/assets/icons/svg/folder.svg
  packages/assets/icons/svg/gift.svg
  packages/assets/icons/svg/google.svg
  packages/assets/icons/svg/heart.svg
  packages/assets/icons/svg/home.svg
  packages/assets/icons/svg/kakao.svg
  packages/assets/icons/svg/major-dish.svg
  packages/assets/icons/svg/naver.svg
  packages/assets/icons/svg/noodle.svg
  packages/assets/icons/svg/noti.svg
  packages/assets/icons/svg/pen.svg
  packages/assets/icons/svg/person.svg
  packages/assets/icons/svg/pickles.svg
  packages/assets/icons/svg/rice.svg
  packages/assets/icons/svg/share.svg
  packages/assets/icons/svg/soup.svg
  packages/assets/icons/svg/sub-dish.svg
  packages/assets/icons/svg/tea.svg
  packages/assets/icons/tsconfig.json
  packages/assets/icons/vite.config.ts
  packages/ui/.storybook/main.ts
  packages/ui/global.d.ts
  packages/ui/package.json
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: packages/assets

#45 [NUGUDI-43] 공용 Box 컴포넌트 생성
  .vscode/settings.json
  apps/web/app/page.css.ts
  apps/web/app/page.tsx
  packages/react/components/layout/src/core/types.ts
  packages/react/components/layout/src/index.ts
  packages/react/components/layout/src/layout/Box.tsx
  packages/react/components/layout/src/layout/index.ts
  packages/react/components/layout/src/layout/types.ts
  packages/ui/src/layout/Box.stories.tsx
Labels: apps/web, packages/ui, packages/react

#47 [NUGUDI-44] 글로벌 스타일 구조 리팩토링 및 CSS 모듈화
  apps/web/app/app.css
  apps/web/app/layout.tsx
  apps/web/src/shared/styles/fds.module.css
  apps/web/src/shared/styles/globals.css
  apps/web/src/shared/styles/reset.css
Labels: refactor, apps/web

#49 [NUGUDI-45] 공용 Divider 컴포넌트 제작
  .gitignore
  apps/web/app/page.tsx
  packages/react/components/layout/src/index.ts
  packages/react/components/layout/src/layout/Divider.tsx
  packages/react/components/layout/src/layout/index.ts
  packages/react/components/layout/src/layout/types.ts
  packages/ui/.storybook/main.ts
  packages/ui/src/layout/Divider.stories.tsx
Labels: feat, apps/web, packages/ui, packages/react

#56 [NUGUDI-47] 공용 Input OTP 구현
  apps/web/app/components/input-otp-container.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.css.ts
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/src/shared/styles/fds.module.css
  packages/react/components/input-otp/README.md
  packages/react/components/input-otp/package.json
  packages/react/components/input-otp/src/InputOTP.tsx
  packages/react/components/input-otp/src/index.ts
  packages/react/components/input-otp/src/style.css.ts
  packages/react/components/input-otp/src/types.ts
  packages/react/components/input-otp/src/useInputOTP.ts
  packages/react/components/input-otp/tsconfig.json
  packages/react/components/input-otp/vite.config.mts
  packages/ui/.storybook/main.ts
  packages/ui/package.json
  packages/ui/src/ReactComponents/InputOtp.stories.tsx
  pnpm-lock.yaml
Labels: apps/web, packages/ui, packages/react

#62 [NUGUDI-53] 공용 Flex 컴포넌트 제작
  .github/workflows/chromatic.yml
  apps/web/app/page.css.ts
  apps/web/app/page.tsx
  packages/react/components/layout/src/index.ts
  packages/react/components/layout/src/layout/Flex.tsx
  packages/react/components/layout/src/layout/index.ts
  packages/react/components/layout/src/layout/types.ts
  packages/ui/package.json
  packages/ui/src/layout/Flex.stories.tsx
Labels: apps/web, packages/ui, packages/react

#66 [NUGUDI-55] 공용 GridItem 컴포넌트 생성
  packages/react/components/layout/src/index.ts
  packages/react/components/layout/src/layout/GridItem.tsx
  packages/react/components/layout/src/layout/index.ts
  packages/react/components/layout/src/layout/types.ts
  packages/ui/src/layout/GridItem.stories.tsx
Labels: packages/ui, packages/react

#70 [NUGUDI-58] 공용 Switch 컴포넌트 생성
  apps/web/app/components/switch-container.tsx
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/src/shared/styles/fds.module.css
  packages/react/components/switch/.storybook/main.ts
  packages/react/components/switch/.storybook/preview.ts
  packages/react/components/switch/package.json
  packages/react/components/switch/src/Switch.tsx
  packages/react/components/switch/src/index.ts
  packages/react/components/switch/src/style.css.ts
  packages/react/components/switch/src/types.ts
  packages/react/components/switch/tsconfig.json
  packages/react/components/switch/vite.config.mts
  packages/ui/package.json
  packages/ui/src/ReactComponents/Switch.stories.tsx
  pnpm-lock.yaml
Labels: apps/web, packages/ui, packages/react

#76 [NUGUDI-61] 개별 패키지별 Vitest 설정 파일 구성
  package.json
  packages/react/components/button/vitest.config.ts
  packages/react/components/chip/vitest.config.ts
  packages/react/components/input-otp/vitest.config.ts
  packages/react/components/input/vitest.config.ts
  packages/react/components/layout/vitest.config.ts
  packages/react/components/switch/vitest.config.ts
  packages/react/components/tab/vitest.config.ts
  packages/react/components/textarea/vitest.config.ts
  packages/react/hooks/button/vitest.config.ts
  packages/react/hooks/switch/vitest.config.ts
  packages/react/hooks/toggle/vitest.config.ts
  packages/ui/package.json
  packages/ui/src/ReactComponents/Switch.stories.tsx
  pnpm-lock.yaml
Labels: root

#78 [NUGUDI-62] assets-icons 패키지 빌드 설정 수정 및 SVG 경로 구조 수정
  apps/web/app/components/input-container.tsx
  apps/web/package.json
  packages/assets/icons/src/icons.ts
  packages/assets/icons/src/index.ts
  packages/assets/icons/src/svg/apple.svg
  packages/assets/icons/src/svg/arrow-left.svg
  packages/assets/icons/src/svg/arrow-up-circle.svg
  packages/assets/icons/src/svg/bus.svg
  packages/assets/icons/src/svg/calendar.svg
  packages/assets/icons/src/svg/camera-line.svg
  packages/assets/icons/src/svg/camera.svg
  packages/assets/icons/src/svg/comment.svg
  packages/assets/icons/src/svg/etc.svg
  packages/assets/icons/src/svg/exit.svg
  packages/assets/icons/src/svg/failure.svg
  packages/assets/icons/src/svg/fill-heart.svg
  packages/assets/icons/src/svg/folder.svg
  packages/assets/icons/src/svg/gift.svg
  packages/assets/icons/src/svg/google.svg
  packages/assets/icons/src/svg/heart.svg
  packages/assets/icons/src/svg/home.svg
  packages/assets/icons/src/svg/kakao.svg
  packages/assets/icons/src/svg/major-dish.svg
  packages/assets/icons/src/svg/naver.svg
  packages/assets/icons/src/svg/noodle.svg
  packages/assets/icons/src/svg/noti.svg
  packages/assets/icons/src/svg/pen.svg
  packages/assets/icons/src/svg/person.svg
  packages/assets/icons/src/svg/pickles.svg
  packages/assets/icons/src/svg/rice.svg
  packages/assets/icons/src/svg/share.svg
  packages/assets/icons/src/svg/soup.svg
  packages/assets/icons/src/svg/sub-dish.svg
  packages/assets/icons/src/svg/success.svg
  packages/assets/icons/src/svg/tea.svg
  packages/assets/icons/vite.config.ts
  pnpm-lock.yaml
Labels: packages/assets

#79 [NUGUDI-60] Input 컴포넌트 rightIcon이 들어갈 수 있도록 수정
  packages/react/components/input/src/Input.tsx
  packages/react/components/input/src/style.css.ts
  packages/react/components/input/src/types.ts
  packages/ui/src/ReactComponents/Input.stories.tsx
Labels: packages/ui, packages/react

#83 [NUGUDI-68] Orval API Client 라이브러리 세팅
  apps/web/app/debug/orval/error.tsx
  apps/web/app/debug/orval/page.tsx
  packages/api/orval.config.ts
  packages/api/package.json
  packages/api/src/api/http.ts
  packages/api/src/api/openapi.json
  packages/api/src/api/transformer.js
  packages/api/src/index.msw.ts
  packages/api/src/index.schemas.ts
  packages/api/src/index.ts
  packages/api/vite.config.ts
Labels: packages/api

#88 [NUGUDI-73] tab bar 및 navbar 추가
  apps/web/app/_ui/components/email-login-form/index.css.ts
  apps/web/app/_ui/components/email-login-form/index.tsx
  apps/web/app/_ui/views/email-login-view/index.tsx
  apps/web/app/auth/my/layout.css.ts
  apps/web/app/auth/my/layout.tsx
  apps/web/app/auth/my/page.css.ts
  apps/web/app/auth/my/page.tsx
  apps/web/app/auth/sign-in/layout.tsx
  apps/web/app/benefits/layout.css.ts
  apps/web/app/benefits/layout.tsx
  apps/web/app/benefits/page.tsx
  apps/web/app/components/input-otp-container.css.ts
  apps/web/app/components/input-otp-container.tsx
  apps/web/app/components/textarea-container.css.ts
  apps/web/app/components/textarea-container.tsx
  apps/web/app/layout.tsx
  apps/web/app/page.css.ts
  apps/web/app/page.tsx
  apps/web/src/shared/components/mobile-first-layout/index.css.ts
  apps/web/src/shared/components/mobile-first-layout/index.tsx
  apps/web/src/shared/components/nav-bar/index.css.ts
  apps/web/src/shared/components/nav-bar/index.tsx
  apps/web/src/shared/components/tab-bar/index.css.ts
  apps/web/src/shared/components/tab-bar/index.tsx
  packages/assets/icons/src/svg/arrow-left.svg
  packages/assets/icons/src/svg/gift.svg
  packages/assets/icons/src/svg/home.svg
  packages/assets/icons/src/svg/person.svg
Labels: apps/web

#99 [NUGUDI-86] 회원가입 Funnel 리팩토링 및 useStepper 공용 훅 구현
  apps/web/src/domains/auth/sign-up/constants/sign-up.ts
  apps/web/src/domains/auth/sign-up/stores/use-sign-up-store.ts
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/index.css.ts
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/index.tsx
  package.json
  packages/react/hooks/use-stepper/package.json
  packages/react/hooks/use-stepper/src/index.ts
  packages/react/hooks/use-stepper/src/types.ts
  packages/react/hooks/use-stepper/src/useStepper.spec.tsx
  packages/react/hooks/use-stepper/src/useStepper.ts
  packages/react/hooks/use-stepper/test-setup.ts
  packages/react/hooks/use-stepper/tsconfig.json
  packages/react/hooks/use-stepper/vite.config.mts
  packages/react/hooks/use-stepper/vitest.config.ts
  pnpm-lock.yaml
Labels: apps/web

#101 [NUGUDI-92] 공용 Stack 컴포넌트 구현
  packages/react/components/layout/src/index.ts
  packages/react/components/layout/src/layout/HStack.tsx
  packages/react/components/layout/src/layout/Stack.tsx
  packages/react/components/layout/src/layout/VStack.tsx
  packages/react/components/layout/src/layout/index.ts
  packages/ui/src/layout/HStack.stories.tsx
  packages/ui/src/layout/Stack.stories.tsx
  packages/ui/src/layout/VStack.stories.tsx
Labels: apps/web, packages/ui, packages/react

#106 [NUGUDI-89] 마이페이지 UI 구현
  apps/web/app/auth/my/page.tsx
  apps/web/src/domains/auth/my/ui/components/logout-button/index.css.ts
  apps/web/src/domains/auth/my/ui/components/logout-button/index.tsx
  apps/web/src/domains/auth/my/ui/components/navigation-link/index.css.ts
  apps/web/src/domains/auth/my/ui/components/navigation-link/index.tsx
  apps/web/src/domains/auth/my/ui/sections/menu-section/index.css.ts
  apps/web/src/domains/auth/my/ui/sections/menu-section/index.tsx
  apps/web/src/domains/auth/my/ui/sections/point-section/index.css.ts
  apps/web/src/domains/auth/my/ui/sections/point-section/index.tsx
  apps/web/src/domains/auth/my/ui/sections/profile-section/index.css.ts
  apps/web/src/domains/auth/my/ui/sections/profile-section/index.tsx
  apps/web/src/domains/auth/my/ui/views/my-page-view/index.css.ts
  apps/web/src/domains/auth/my/ui/views/my-page-view/index.tsx
  packages/assets/icons/src/icons.ts
  packages/assets/icons/src/index.ts
  packages/assets/icons/src/svg/coin.svg
  packages/assets/icons/src/svg/pencil.svg
  packages/react/components/navigation-item/src/style.css.ts
  packages/themes/src/variables/box.ts
Labels: apps/web, package/themes, packages/react, packages/assets

#108 [NUGUDI-97] Box 컴포넌트에서 boxShadow prop이 DOM으로 전달되는 문제 수정
  apps/web/src/domains/auth/my/ui/sections/profile-section/index.tsx
  packages/react/components/layout/src/layout/Box.tsx
Labels: fix, apps/web, packages/react

#110 [NUGUDI-100] bump next.js from 15.3.3 to 15.4.6
  apps/web/package.json
  pnpm-lock.yaml
Labels: apps/web, root

#113 [NUGUDI-91] MenuCard 구현
  .github/workflows/chromatic.yml
  apps/web/app/page.css.ts
  apps/web/app/page.tsx
  apps/web/package.json
  apps/web/src/shared/styles/fds.module.css
  packages/assets/icons/src/icons.ts
  packages/assets/icons/src/index.ts
  packages/assets/icons/src/svg/bread.svg
  packages/assets/icons/src/svg/clock.svg
  packages/assets/icons/src/svg/packaging.svg
  packages/react/components/menu-card/README.md
  packages/react/components/menu-card/package.json
  packages/react/components/menu-card/src/category-group.tsx
  packages/react/components/menu-card/src/constants/category-config.ts
  packages/react/components/menu-card/src/hooks/use-menu-grouping.ts
  packages/react/components/menu-card/src/index.ts
  packages/react/components/menu-card/src/menu-card.tsx
  packages/react/components/menu-card/src/style.css.ts
  packages/react/components/menu-card/src/types.ts
  packages/react/components/menu-card/tsconfig.json
  packages/react/components/menu-card/vite.config.mts
  packages/react/components/menu-card/vitest.config.ts
  packages/ui/package.json
  packages/ui/src/ReactComponents/MenuCard.stories.tsx
  pnpm-lock.yaml
Labels: packages/ui, packages/react

#118 [NUGUDI-105] 공용 BottomSheet 구현
  CLAUDE.md
  apps/web/src/domains/auth/password-forgot/stores/use-password-forgot-store.ts
  apps/web/src/domains/auth/password-forgot/ui/components/password-forgot-form/steps/email-form/index.tsx
  apps/web/src/domains/auth/password-forgot/ui/components/password-forgot-form/steps/email-verification-code-form/index.tsx
  apps/web/src/domains/auth/password-forgot/ui/components/password-forgot-form/steps/reset-password-form/index.tsx
  apps/web/src/domains/auth/password-forgot/ui/sections/password-forgot-section/index.tsx
  apps/web/src/domains/auth/password-forgot/ui/views/password-forgot-view/index.tsx
  apps/web/src/domains/auth/sign-up/stores/use-sign-up-store.ts
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/agreement-form/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/agreement-form/terms/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/email-form/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/email-verification-code-form/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/nickname-form/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/password-form/index.tsx
  apps/web/src/domains/auth/sign-up/ui/sections/sign-up-section/index.tsx
  apps/web/src/domains/auth/sign-up/ui/views/sign-up-view/index.tsx
  claude/frontend.md
  claude/nextjs-component-structure-guideline.md
  claude/packages.md
  claude/testing.md
  packages/react/components/backdrop/package.json
  packages/react/components/backdrop/src/Backdrop.tsx
  packages/react/components/backdrop/src/index.ts
  packages/react/components/backdrop/src/style.css.ts
  packages/react/components/backdrop/src/types.ts
  packages/react/components/backdrop/tsconfig.json
  packages/react/components/backdrop/vite.config.mts
  packages/react/components/backdrop/vitest.config.ts
  packages/react/components/bottom-sheet/package.json
  packages/react/components/bottom-sheet/src/BottomSheet.tsx
  packages/react/components/bottom-sheet/src/index.ts
  packages/react/components/bottom-sheet/src/style.css.ts
  packages/react/components/bottom-sheet/src/types.ts
  packages/react/components/bottom-sheet/tsconfig.json
  packages/react/components/bottom-sheet/vite.config.mts
  packages/react/components/bottom-sheet/vitest.config.ts
  packages/themes/src/variables/colors/static/dark.ts
  packages/themes/src/variables/colors/static/light.ts
  packages/ui/package.json
  packages/ui/src/ReactComponents/Backdrop.stories.tsx
  packages/ui/src/ReactComponents/BottomSheet.stories.tsx
  packages/ui/test-button.html
  pnpm-lock.yaml
Labels: docs, apps/web, packages/ui, packages/react

#119 [NUGUDI-105] feat(web): 라우트 그룹 구조 개선 및 바텀시트 컨테이너 구현
  .cursor/rules/frontend.md
  .cursor/rules/nextjs-component-structure-guideline.md
  .cursor/rules/packages.md
  .cursor/rules/testing.md
  apps/web/app/(auth)/auth/my/page.tsx
  apps/web/app/(auth)/benefits/page.tsx
  apps/web/app/(public)/auth/password/forgot/page.tsx
  apps/web/app/(public)/auth/sign-in/email/page.tsx
  apps/web/app/(public)/auth/sign-in/page.tsx
  apps/web/app/(public)/auth/sign-up/page.tsx
  apps/web/app/(public)/debug/sentry/page.tsx
  apps/web/app/benefits/page.tsx
  apps/web/package.json
  apps/web/src/shared/styles/fds.module.css
  apps/web/src/shared/ui/components/bottom-sheet/bottom-sheet-container/index.tsx
  apps/web/src/shared/ui/components/mobile-first-layout/index.css.ts
  apps/web/src/shared/ui/components/mobile-first-layout/index.tsx
  packages/react/components/bottom-sheet/src/BottomSheet.tsx
  packages/react/components/bottom-sheet/src/style.css.ts
  packages/react/components/bottom-sheet/src/types.ts
  packages/ui/src/ReactComponents/BottomSheet.stories.tsx
  pnpm-lock.yaml
Labels: refactor, feat, apps/web, packages/ui, root, package/themes, packages/react

#121 [NUGUDI-106] 공용 BottomSheet 리팩토링
  apps/web/src/shared/ui/components/bottom-sheet/bottom-sheet-container/index.tsx
  packages/react/components/bottom-sheet/src/BottomSheet.tsx
  packages/react/components/bottom-sheet/src/types.ts
  packages/ui/package.json
  packages/ui/src/ReactComponents/BottomSheet.stories.tsx
  pnpm-lock.yaml
Labels: fix, refactor, apps/web, packages/ui, packages/react

#129 [NUGUDI-113] color 스토리북 리팩토링
  .cursor/rules/frontend.md
  .cursor/rules/packages.md
  CLAUDE.md
  claude/frontend.md
  claude/packages.md
  packages/themes/src/utils/colors.ts
  packages/themes/src/variables/colors/scale.ts
  packages/themes/src/variables/colors/static/dark.ts
  packages/themes/src/variables/colors/static/light.ts
  packages/themes/src/variables/colors/static/palettes.ts
  packages/ui/src/foundations/color.stories.tsx
Labels: packages/ui, package/themes

#136 [NUGUDI-118] 공용 NotFound 페이지 구현
  apps/web/app/not-found.tsx
  apps/web/public/images/404-nugudi.webp
  apps/web/src/shared/ui/views/not-found-view/index.css.ts
  apps/web/src/shared/ui/views/not-found-view/index.tsx
Labels: apps/web
