Repository Nugudi/websites, pull requests merged in 2025-09, with the labels that each got.

#137 [NUGUDI-109] Review Card, ImageCard 구현
  packages/react/components/image-card/package.json
  packages/react/components/image-card/src/ImageCard.tsx
  packages/react/components/image-card/src/index.ts
  packages/react/components/image-card/tsconfig.json
  packages/react/components/image-card/vite.config.ts
  packages/react/components/image-card/vitest.config.ts
  packages/react/components/review-card/index.ts
  packages/react/components/review-card/package.json
  packages/react/components/review-card/src/ReviewCard.tsx
  packages/react/components/review-card/src/index.ts
  packages/react/components/review-card/src/style.css.ts
  packages/react/components/review-card/src/types.ts
  packages/react/components/review-card/tsconfig.json
  packages/react/components/review-card/vite.config.ts
  packages/react/components/review-card/vitest.config.ts
  packages/ui/package.json
  packages/ui/src/ReactComponents/ImageCard.stories.tsx
  packages/ui/src/ReactComponents/ReviewCard.stories.tsx
  pnpm-lock.yaml
Labels: packages/ui, packages/react

#142 [NUGUDI-126] Layout 컴포넌트 직접 픽셀 값 시스템 도입
  .cursor/rules/packages.md
  apps/web/src/domains/auth/forgot-password/ui/components/forgot-password-form/steps/email-form/index.tsx
  apps/web/src/domains/auth/forgot-password/ui/components/forgot-password-form/steps/email-verification-code-form/index.tsx
  apps/web/src/domains/auth/forgot-password/ui/components/forgot-password-form/steps/reset-password-form/index.tsx
  apps/web/src/domains/auth/login/ui/components/login-welcome/index.tsx
  apps/web/src/domains/auth/profile/ui/sections/profile-section/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/email-verification-code-form/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/nickname-form/index.tsx
  apps/web/src/domains/auth/sign-up/ui/components/sign-up-form/steps/password-form/index.tsx
  claude/packages.md
  packages/react/components/layout/src/core/types.ts
  packages/react/components/layout/src/index.ts
  packages/react/components/layout/src/layout/Box.tsx
  packages/react/components/layout/src/layout/Divider.tsx
  packages/react/components/layout/src/layout/Flex.tsx
  packages/react/components/layout/src/layout/Grid.tsx
  packages/react/components/layout/src/layout/GridItem.tsx
  packages/react/components/layout/src/layout/HStack.tsx
  packages/react/components/layout/src/layout/ListItem.tsx
  packages/react/components/layout/src/layout/OrderedList.tsx
  packages/react/components/layout/src/layout/Stack.tsx
  packages/react/components/layout/src/layout/UnOrderedList.tsx
  packages/react/components/layout/src/layout/VStack.tsx
  packages/react/components/layout/src/layout/types.ts
  packages/react/components/layout/src/utils/style-helpers.ts
  packages/ui/src/ReactComponents/NavigationItem.stories.tsx
  packages/ui/src/layout/Box.stories.tsx
  packages/ui/src/layout/Divider.stories.tsx
  packages/ui/src/layout/Flex.stories.tsx
  packages/ui/src/layout/Grid.stories.tsx
  packages/ui/src/layout/GridItem.stories.tsx
  packages/ui/src/layout/HStack.stories.tsx
  packages/ui/src/layout/List.stories.tsx
  packages/ui/src/layout/Stack.stories.tsx
  packages/ui/src/layout/VStack.stories.tsx
Labels: refactor, packages/ui, packages/react

#146 [NUGUDI-127] 댓글 컴포넌트 구현
  packages/assets/icons/src/icons.ts
  packages/assets/icons/src/index.ts
  packages/assets/icons/src/svg/comment.svg
  packages/assets/icons/src/svg/reply.svg
  packages/react/components/comment/package.json
  packages/react/components/comment/src/Comment.tsx
  packages/react/components/comment/src/index.ts
  packages/react/components/comment/src/style.css.ts
  packages/react/components/comment/src/types.ts
  packages/react/components/comment/tsconfig.json
  packages/react/components/comment/vite.config.mts
  packages/react/components/comment/vitest.config.ts
  packages/ui/package.json
  packages/ui/src/ReactComponents/Comment.stories.tsx
  pnpm-lock.yaml
Labels: packages/ui, packages/react

#159 [NUGUDI-138] web 폰트 관련 설정
  apps/web/app/layout.tsx
Labels: fix, apps/web

#164 [NUGUDI-146] 알림 페이지 UI 구현
  apps/web/app/(auth)/notifications/page.tsx
  apps/web/package.json
  apps/web/src/domains/notification/constants/notification.ts
  apps/web/src/domains/notification/types/notification.ts
  apps/web/src/domains/notification/ui/components/notification-empty/index.css.ts
  apps/web/src/domains/notification/ui/components/notification-empty/index.tsx
  apps/web/src/domains/notification/ui/components/notification-item/index.css.ts
  apps/web/src/domains/notification/ui/components/notification-item/index.tsx
  apps/web/src/domains/notification/ui/sections/notification-list-section/index.css.ts
  apps/web/src/domains/notification/ui/sections/notification-list-section/index.tsx
  apps/web/src/domains/notification/ui/views/notification-view/index.css.ts
  apps/web/src/domains/notification/ui/views/notification-view/index.tsx
  apps/web/src/shared/ui/components/nav-bar/index.css.ts
  pnpm-lock.yaml
Labels: apps/web

#166 [NUGUDI-148] 아이콘 패키지 수정
  packages/assets/icons/README.md
  packages/assets/icons/package.json
  packages/assets/icons/src/index.ts
  packages/assets/icons/src/registry.ts
  packages/assets/icons/vite.config.ts
  packages/react/components/menu-card/src/constants/category-config.ts
  packages/ui/src/foundations/icons.stories.tsx
Labels: packages/assets

#171 [NUGUDI-154] chore(api): open api 최신화
  packages/api/src/api/openapi.json
  packages/api/src/index.msw.ts
  packages/api/src/index.schemas.ts
  packages/api/src/index.ts
Labels: packages/api
