Repository Nugudi/websites, pull requests merged in 2025-07, with the labels that each got.

#11 [NUGUDI-13] packages/ui svgr-plugin 연결 및 아이콘 스토리북 적용
  apps/web/src/app/page.tsx
  packages/ui/global.d.ts
  packages/ui/package.json
  packages/ui/src/assets/icons/gift.svg
  packages/ui/src/assets/icons/home.svg
  packages/ui/src/assets/icons/person.svg
  packages/ui/src/foundations/icons.stories.tsx
  packages/ui/src/index.ts
  packages/ui/tsconfig.json
  packages/ui/tsdown.config.ts
  packages/ui/vite.config.mts
  packages/ui/vitest.config.mts
  pnpm-lock.yaml
Labels: feat, frontend, chore

#20 [NUGUDI-19] 클린 아키텍처 적용
  apps/web/app/api/debug/sentry/route.ts
  apps/web/app/app.css
  apps/web/app/debug/sentry/page.tsx
  apps/web/app/favicon.ico
  apps/web/app/global-error.tsx
  apps/web/app/layout.tsx
  apps/web/app/manifest.ts
  apps/web/app/page.css.ts
  apps/web/app/page.tsx
  apps/web/instrumentation.ts
  apps/web/package.json
  apps/web/sentry.client.config.ts
  apps/web/sentry.edge.config.ts
  apps/web/sentry.server.config.ts
  apps/web/src/application/repositories/.gitkeep
  apps/web/src/application/services/.gitkeep
  apps/web/src/application/use-cases/.gitkeep
  apps/web/src/entities/errors/.gitkeep
  apps/web/src/entities/models/.gitkeep
  apps/web/src/infrastructure/repositories/.gitkeep
  apps/web/src/infrastructure/services/.gitkeep
  apps/web/src/infrastructure/utils/.gitkeep
  apps/web/src/instrumentation-client.ts
  apps/web/src/interface-adapters/controllers/auth/.gitkeep
  apps/web/src/shared/configs/tanstack-query/get-query-client.ts
  apps/web/src/shared/providers/index.tsx
  apps/web/src/shared/providers/modules/query-provider.tsx
  apps/web/tsconfig.json
  pnpm-lock.yaml
Labels: apps/web

#24 [NUGUDI-23] Storybook 및 Chromatic 배포 파이프라인 설정 #23
  .github/workflows/chromatic.yml
  package.json
  packages/ui/.storybook/main.ts
  packages/ui/.storybook/preview.ts
  packages/ui/package.json
  packages/ui/src/app.css
  packages/ui/src/button/button.stories.tsx
  packages/ui/src/introduction.mdx
  packages/ui/vite.config.mts
  packages/ui/vitest.config.mts
Labels: deploy, apps/web

#26 [NUGUDI-25] Tree-Shaking을 위한 개별 모듈 entry point 및 선택적 CSS import 지원
  apps/web/app/page.tsx
  packages/themes/build.config.ts
  packages/themes/build.js
  packages/themes/scripts/build-css-module.js
  packages/ui/package.json
  packages/ui/src/index.ts
  packages/ui/src/styles.ts
  packages/ui/vite.config.mts
  pnpm-lock.yaml
Labels: packages/ui
